/* =================== BASE STYLES =================== */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =================== UTILITY CLASSES =================== */
.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/* =================== LOGO STYLES =================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}

.logo-dark {
  color: #2e2f42;
}

.logo-light {
  color: #404bbf;
}

/* =================== HEADER STYLES =================== */
.site-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .logo {
  margin-right: 76px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current-nav-link {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.contact-info {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-item a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 0.3s ease;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* =================== HERO SECTION =================== */
.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.primary-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
  background-color: #404bbf;
}

/* =================== FEATURES SECTION =================== */
.features-section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}

.feature-item-container {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
}

.feature-item-img {
  fill: #2e2f42;
}

.feature-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
}

/* =================== TEAM SECTION =================== */
.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 0;
  text-align: center;
}

.member-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.member-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.member-info-social-icon-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 15px;
}
.member-info-social-icon-container-list {
  width: 40px;
  height: 40px;
}

.member-info-social-icon-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-info-social-icon-item:hover,
.member-info-social-icon-item:focus {
  background-color: #404bbf;
}

/* =================== PORTFOLIO SECTION =================== */
.portfolio-section {
  padding: 120px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-item-wrap-text {
  transform: translateY(0%);
}

.portfolio-item-wrap-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* =================== FOOTER STYLES =================== */
.site-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.site-footer .logo {
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-icon-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0 15px;
  height: 42px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer-social-icon-item {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-item:hover,
.footer-social-icon-item:focus {
  background-color: #31d0aa;
}

.footer-social-icon-item-svg {
  fill: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-site-info {
  margin-right: 120px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.site-footer .subscribe {
  margin-left: 80px;
}

.site-footer .subscribe > p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  text-align: left;
}

.site-footer .subscribe .footer-email {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid white;
  color: white;
  background-color: #2e2f42;
}

.site-footer .subscribe .footer-email::placeholder {
  color: white;
  padding: 16px;
}

.site-footer .subscribe .footer-button {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: white;
  border-radius: 4px;
}

.site-footer .subscribe .footer-button .icon-send {
  width: 24px;
  height: 20px;
  margin-left: 16px;
}

/* Modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #2e2f42;
  opacity: 0.4;
}

.is-open {
  display: none;
}

.modal .modal-form {
  position: relative;
  width: 408px;
  height: 584px;
  z-index: 2;
  background-color: #fcfcfc;
  border-radius: 4px;
  overflow: hidden;
  padding: 24px;
}

.modal .modal-form .close {
  display: flex;
  justify-content: end;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal .modal-form .close .icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
}

.modal .modal-form .modal-title {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.modal .modal-form .input-group {
  margin-top: 8px;
}

.modal .modal-form .input-group label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}

.modal .modal-form .input-group .input-container {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f42;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
}

.modal .modal-form .input-group .input-container .icon {
  width: 12px;
  height: 12px;
}

.modal .modal-form .input-group .input-container:focus-within .icon {
  fill: #4d5ae5;
}

.modal .modal-form .input-group .input-container:focus-within {
  border: 1px solid #4d5ae5;
}

.modal .modal-form .input-group .input-container input {
  width: 100%;
  border: none;
  outline: none;
}

.modal .modal-form .input-group .comment {
  color: #8e8f99;
  width: 100%;
  resize: none;
  height: 120px;
  padding: 8px;
}

.modal .modal-form .input-group .comment:focus-within {
  border: 1px solid #4d5ae5;
}

.consent-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.consent-container .consent {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
}

.consent-container label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}

.consent-container label a {
  text-decoration: underline;
  color: #4d5ae5;
  font-size: 12px;
}

.button-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.button-container .send {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
